
img {
    height: 100vh;
    transition: filter 1s;
}

aside {
    position: absolute;
    right: 12vw;
    top: 50%;
    font-size: 6vw;
    opacity: 0.4;
    transform: translateY(-50%);
    z-index: 1;
    min-width: 6vw;
    text-align: center;
}

aside span {
    display: block;
    font-size: 3vw;
}