
img {
    height: 100vh;
    transition: filter 1s;
}

aside {
    position: absolute;
    right: 12vw;
    top: 50%;
    font-size: 6vw;
    opacity: 0.4;
    font-family: Georgia;
    transform: translateY(-50%);
    z-index: 1;
}