
video {
    height: 100%;
    width: 181vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}

aside {
    position: absolute;
    right: 12vw;
    top: 50%;
    font-size: 6vw;
    opacity: 0.4;
    font-family: Georgia;
    transform: translateY(-50%);
}